Repository marblejs/marble, pull requests merged in 2020-05, with the labels that each got.

#253 feat(core): contextFactory
  packages/core/src/context/context.factory.helper.ts
  packages/core/src/context/context.logger.ts
  packages/core/src/context/specs/context.factory.helper.spec.ts
  packages/core/src/http/server/http.server.ts
  packages/core/src/index.ts
  packages/messaging/src/server/messaging.server.ts
  packages/websockets/src/server/websocket.server.ts
Labels: enhancement, scope: core, scope: testing

#254 chore(testing): module boilerplate
  packages/testing/README.md
  packages/testing/package.json
  packages/testing/src/index.ts
  packages/testing/tsconfig.json
Labels: scope: testing

#255 fix(middleware-io): incompatible codecs with io-ts
  packages/middleware-io/package.json
  yarn.lock
Labels: bug, scope: middleware

#257 feat(testing): http TestBed module
  packages/core/src/+internal/utils/http.util.ts
  packages/core/src/+internal/utils/index.ts
  packages/core/src/+internal/utils/spec/http.util.spec.ts
  packages/core/src/+internal/utils/type.util.ts
  packages/testing/README.md
  packages/testing/src/index.spec.ts
  packages/testing/src/index.ts
  packages/testing/src/testBed/http/http.testBed.interface.ts
  packages/testing/src/testBed/http/http.testBed.request.interface.ts
  packages/testing/src/testBed/http/http.testBed.request.spec.ts
  packages/testing/src/testBed/http/http.testBed.request.ts
  packages/testing/src/testBed/http/http.testBed.response.interface.ts
  packages/testing/src/testBed/http/http.testBed.response.ts
  packages/testing/src/testBed/http/http.testBed.spec.ts
  packages/testing/src/testBed/http/http.testBed.ts
  packages/testing/src/testBed/http/http.testBed.util.ts
  packages/testing/src/testBed/testBed.interface.ts
  packages/testing/src/testBed/testBedContainer.interface.ts
  packages/testing/src/testBed/testBedContainer.spec.ts
  packages/testing/src/testBed/testBedContainer.ts
  packages/testing/src/testBed/testBedSetup.interface.ts
  packages/testing/src/testBed/testBedSetup.spec.ts
  packages/testing/src/testBed/testBedSetup.ts
Labels: enhancement, scope: core, scope: testing

#258 fix(testing): auto detect `Content-Type` when passing HTTP request body
  packages/testing/src/testBed/http/http.testBed.request.spec.ts
  packages/testing/src/testBed/http/http.testBed.request.ts
  packages/testing/src/testBed/http/http.testBed.ts
Labels: bug, scope: testing

#259 fix(core): bodyFactory - support for "application/x-www-form-urlencoded"
  packages/core/src/http/response/http.responseBody.factory.ts
  packages/core/src/http/response/http.responseContentType.factory.ts
  packages/core/src/http/response/specs/http.responseBody.factory.spec.ts
Labels: bug, enhancement, scope: core

#260 refactor(integration): http - integration tests with @marblejs/testing
  packages/@integration/package.json
  packages/@integration/src/http/index.ts
  packages/@integration/test/http.integration.spec.ts
  packages/core/src/+internal/testing/http.helper.ts
Labels: enhancement, scope: testing

#261 fix(messaging): wait till transport layer connected and try to close connection
  packages/messaging/package.json
  packages/messaging/src/transport/strategies/amqp.strategy.ts
  yarn.lock
Labels: bug, scope: messaging

#263 feat(testing): cleaned up HttpTestBed interface
  packages/@integration/test/http.integration.spec.ts
  packages/@integration/test/messaging.integration.spec.ts
  packages/testing/src/testBed/http/http.testBed.interface.ts
  packages/testing/src/testBed/http/http.testBed.request.interface.ts
  packages/testing/src/testBed/http/http.testBed.spec.ts
  packages/testing/src/testBed/http/http.testBed.ts
Labels: enhancement, scope: testing

#264 refactor(integration): cqrs and websockets server bootstrapping
  packages/@integration/src/cqrs/index.ts
  packages/@integration/src/websockets/http.server.ts
Labels: enhancement

#265 refactor(testing): testBedSetup + testBedSetupContainer
  packages/core/src/+internal/utils/http.util.ts
  packages/testing/src/testBed/testBed.interface.ts
  packages/testing/src/testBed/testBedContainer.interface.ts
  packages/testing/src/testBed/testBedContainer.ts
  packages/testing/src/testBed/testBedSetup.interface.ts
  packages/testing/src/testBed/testBedSetup.ts
Labels: enhancement, scope: testing

#266 fix(messaging): AMQP strategy doesn't trigger initial connection event
  packages/messaging/src/transport/strategies/amqp.strategy.ts
Labels: bug, scope: messaging
