Repository marblejs/marble, pull requests merged in 2020-02, with the labels that each got.

#233 test(messaging): eventBus
  packages/core/src/+internal/utils/any.util.ts
  packages/messaging/src/eventbus/messaging.eventBus.reader.spec.ts
  packages/messaging/src/eventbus/messaging.eventBus.reader.ts
  packages/messaging/src/server/specs/messaging.server.amqp.spec.ts
  packages/messaging/src/server/specs/messaging.server.redis.spec.ts
  packages/messaging/src/util/messaging.test.util.ts
Labels: scope: messaging

#235 fix(core): removed `fp-ts` from package dependencies
  packages/core/package.json
Labels: scope: core

#234 feat(messaging): messagingClient - detect error event response and throw exception
  packages/core/src/+internal/utils/error.util.ts
  packages/core/src/+internal/utils/spec/string.util.spec.ts
  packages/core/src/error/error.model.ts
  packages/core/src/http/error/http.error.model.ts
  packages/core/src/operators/act/act.operator.spec.ts
  packages/core/src/operators/act/act.operator.ts
  packages/messaging/src/client/messaging.client.spec.ts
  packages/messaging/src/client/messaging.client.ts
  packages/messaging/src/effects/messaging.effects.helper.ts
  packages/messaging/src/eventbus/messaging.eventBus.reader.spec.ts
  packages/messaging/src/transport/transport.error.ts
  packages/messaging/src/util/messaging.test.util.ts
  packages/middleware-io/src/io.error.ts
  packages/websockets/src/error/websocket.error.model.ts
Labels: enhancement, next, scope: core, scope: messaging

#238 fix(messaging): messagingClient.send output type inference
  packages/messaging/src/client/messaging.client.interface.ts
  packages/messaging/src/client/messaging.client.ts
Labels: enhancement, next, scope: messaging

#239 feat(messaging): always emit outgoing events
  packages/@integration/src/cqrs/domain/Offer.event.ts
  packages/@integration/src/cqrs/effects/eventbus.effects.ts
  packages/messaging/src/eventbus/messaging.eventBus.reader.spec.ts
  packages/messaging/src/server/messaging.server.listener.ts
  packages/messaging/src/transport/strategies/local.strategy.ts
Labels: enhancement, next, scope: messaging

#240 fix(messaging): defer messaging client `send` call
  packages/messaging/src/client/messaging.client.ts
Labels: bug, next, scope: messaging

#242 fix(all): update to uuid@7
  packages/core/package.json
  packages/core/src/+internal/utils/string.util.ts
  packages/core/src/context/context.token.factory.ts
  packages/messaging/src/util/messaging.test.util.ts
  yarn.lock
Labels: enhancement, scope: core
